.accordionMain {
  width: 900px;
  margin: auto;
}

.accordionHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #aae0f9;
}

.accordionContent {
  padding: 10px;
}

.accordionHead .icon {
  padding: 5px 10px;
  background-color: #3c3c3c;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.accordionItem {
  background-color: #e9f8ff;
}

.accordionItem + .accordionItem {
  margin-top: 30px;
}

.title {
  display: flex;
  line-height: normal;
}
