.SquadCard .pokemonImage {
    margin: 0 auto 10px;
}

.SquadCard {
    width: 100%;
    max-width: calc(16.6666% - 30px);
    padding: 60px 15px;
    border-radius: 15px;
    background-color: #cccc;
    text-align: center;
    margin: 15px;
}

.pokemonName {
    margin: 0 auto 15px;
    font-size: 1.1rem;
    font-weight: 500;
}

.pokemonMoves {
    padding: 10px;
    border-radius: 10px;
    background-color: #4e4e4e;
    color: #fff;
    width: auto;
}